div{
    display: flex;
    flex-direction: column;
    text-align: center;
}
input{
    width: 50%;
    padding: 10px;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
#countryContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    
}